# in any folders
node_modules/
__pycache__/

# specific folders/files
/staticfiles
# /frontend/static/frontend/main.js
# /frontend/static/frontend/main.js.LICENSE.txt
/frontend/static/images/favicon_io.zip
/tests